<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SharingEnergy.OutsideData.service.impl.MainMapper">

    <insert id="outsideDataInsert" parameterType="java.util.List">

        INSERT INTO TB_OUT_DATA_5MINUTE (
                                        DEVICE_ID
                                        , DEVICE_GBN_CD
                                        , CHGR_GBN_CD
                                        , MEASURE_DTTM
                                        , ACT_ELEC_PWR
                                        , ACT_ELEC_ENERGY
                                        , ORG_GBN_CD
                                        , ORG_CD
                                        )
                                VALUES
                                <foreach collection="list" item="item" separator=" , ">
                                    (
                                    '${item.orgGbnCd}${item.orgCd}${item.deviceGbnCd}${item.deviceId}'
                                    , '${item.deviceGbnCd}'
                                    , '${item.chgrGbnCd}'
                                    , '${item.measureDttm}'
                                    , ${item.actElecPwr}
                                    , ${item.actElecEnergy}
                                    , '${item.orgGbnCd}'
                                    , '${item.orgCd}'
                                    )
                                </foreach>

    </insert>

    <insert id="errorLogInsert" parameterType="responseObject">

        INSERT INTO TB_OUT_DATA_ERROR_LOG (
                                        ERROR_CD
                                        , ERROR_MESSAGE
                                        , DATA_LIST
                                        )
                                VALUES (
                                        #{code}
                                        , #{message}
                                        , #{dataList}
                                      )

    </insert>

    <select id="selectLatestData" parameterType="outsideDataObject" resultType="HashMap">

        SELECT TOP 1 MEASURE_DTTM
        FROM TB_OUT_DATA_5MINUTE
        WHERE 1=1
        <choose>
            <when test='deviceId != "" and deviceId != null'>
                AND DEVICE_ID = '${orgGbnCd}${orgCd}${deviceGbnCd}${deviceId}'
            </when>
            <otherwise>
                AND DEVICE_GBN_CD = '${deviceGbnCd}'
                AND ORG_GBN_CD = '${orgGbnCd}'
                AND ORG_CD = '${orgCd}'
            </otherwise>
        </choose>
        ORDER BY MEASURE_DTTM DESC

    </select>

</mapper>
